p, h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.mobileSize, .tabletSize {
  display: none;
}

body {
  margin: 0;
}
body * {
  font-family: Montserrat, sans-serif;
}
body nav {
  padding: 14px 22px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body nav ul.list-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
body nav ul.list-menu li {
  margin-right: 35px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
body nav ul.menu-props {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
body nav ul.menu-props li {
  margin-right: 30px;
}
@media screen and (max-width: 1200px) {
  body nav .mobileSize {
    display: block;
  }
  body nav ul {
    display: none !important;
  }
}
body .tabletSize.mobileSize.menu {
  display: none;
}
body .tabletSize.mobileSize.menu ul {
  list-style: none;
  padding: 0 24px;
}
body .tabletSize.mobileSize.menu.show {
  display: block;
}
body .design-for-comfort {
  display: flex;
  padding: 0 32px;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  body .design-for-comfort {
    display: block;
  }
}
body .design-for-comfort .info {
  padding: 0 100px 0px 120px;
  width: 35%;
  background: #FAFAFA;
}
@media screen and (max-width: 1200px) {
  body .design-for-comfort .info {
    width: unset;
    padding: 40px;
  }
}
body .design-for-comfort .info h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin-top: 146px;
}
@media screen and (max-width: 1200px) {
  body .design-for-comfort .info h4 {
    margin-top: 0;
  }
}
@media screen and (max-width: 1200px) and (max-width: 767px) {
  body .design-for-comfort .info h4 {
    font-size: 25px;
  }
}
body .design-for-comfort .info p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  body .design-for-comfort .info p {
    font-size: 16px;
  }
}
body .design-for-comfort .info button {
  background: #3B525B;
  border-radius: 5px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 74px;
  padding: 19px 118px;
  border: none;
}
@media screen and (max-width: 767px) {
  body .design-for-comfort .info button {
    font-size: 16px;
    padding: 10px;
    border: none;
    width: 100%;
  }
}
body .design-for-comfort img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 1200px) {
  body .design-for-comfort img {
    margin: auto;
    display: block;
  }
}
body .shop-by-category {
  padding: 134px 149px;
}
@media screen and (max-width: 1200px) {
  body .shop-by-category {
    padding: 50px;
  }
}
@media screen and (max-width: 1200px) and (max-width: 767px) {
  body .shop-by-category {
    padding: 50px 30px;
  }
}
body .shop-by-category h4 {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #000000;
  margin-bottom: 100px;
}
@media screen and (max-width: 767px) {
  body .shop-by-category h4 {
    font-size: 30px;
  }
}
body .shop-by-category .gallery {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 767px) {
  body .shop-by-category .gallery {
    display: block;
  }
}
body .shop-by-category .gallery .col-6 {
  margin-left: 24px;
}
@media screen and (max-width: 767px) {
  body .shop-by-category .gallery .col-6 {
    margin-left: 0;
  }
}
body .shop-by-category .gallery .col-6 .img-box {
  position: relative;
  margin-bottom: 24px;
}
body .shop-by-category .gallery .col-6 .img-box img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
body .shop-by-category .gallery .col-6 .img-box .overlay {
  position: absolute;
  width: 100%;
  height: 58px;
  bottom: 4px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
body .shop-by-category .gallery .col-6 .img-box p {
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin: 0;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  body .shop-by-category .gallery .col-6 .img-box p {
    font-size: 25px;
  }
}
body .why-to-choose {
  background: #3B525B;
  display: flex;
  align-items: center;
  padding: 92px;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  body .why-to-choose {
    display: block;
  }
}
@media screen and (max-width: 1200px) and (max-width: 767px) {
  body .why-to-choose {
    padding: 30px;
  }
}
body .why-to-choose ul.items-to-choose {
  list-style: none;
  display: inherit;
}
@media screen and (max-width: 1200px) {
  body .why-to-choose ul.items-to-choose {
    display: flex;
  }
}
@media screen and (max-width: 1200px) and (max-width: 1200px) {
  body .why-to-choose ul.items-to-choose {
    display: block;
    margin: 0;
    padding: 0;
  }
}
body .why-to-choose ul.items-to-choose li {
  width: 25%;
  margin-right: 40px;
}
@media screen and (max-width: 1200px) {
  body .why-to-choose ul.items-to-choose li {
    width: 100%;
    margin-right: 0;
    margin-top: 40px;
  }
}
body .why-to-choose ul.items-to-choose li h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin: 30px auto 15px;
}
body .why-to-choose ul.items-to-choose li p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #FFFFFF;
}
body .why-to-choose ul.items-to-choose li img {
  display: block;
  margin: auto;
}
body .why-to-choose h1 {
  font-weight: 500;
  font-size: 72px;
  line-height: 88px;
  color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  body .why-to-choose h1 {
    font-size: 30px;
    text-align: center;
    line-height: unset;
  }
}
body .shop-by-style h1 {
  text-align: center;
  margin: 80px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}
@media screen and (max-width: 767px) {
  body .shop-by-style h1 {
    font-size: 30px;
    text-align: center;
    line-height: unset;
  }
}
body .shop-by-style .container {
  max-width: 95vw;
  height: auto;
  padding: 0 0 0 25px;
  margin-left: 0;
}
body .shop-by-style .container h3 {
  margin: 0;
  font-weight: normal;
}
body .shop-by-style .paragraph {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: inherit;
  margin: 0.25rem 0;
  color: #252a32;
  text-transform: unset;
  text-rendering: optimizeLegibility;
}
body .shop-by-style .truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .shop-by-style .main .scroll {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  margin: 2.5rem 0;
  cursor: default;
  overflow: scroll hidden;
  scroll-snap-type: x mandatory;
  scroll-padding: 0px 1.25rem;
  scrollbar-width: none;
}
body .shop-by-style .main .scroll::-webkit-scrollbar {
  display: none;
}
body .shop-by-style .main .scroll.active {
  cursor: grab;
  cursor: -webkit-grab;
}
body .shop-by-style .main .scroll .card {
  width: 560px;
  height: 396px;
  flex: 0 0 auto;
  margin: 0 0.75rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: #252a32;
  background: #ffffff;
  position: relative;
}
@media screen and (max-width: 767px) {
  body .shop-by-style .main .scroll .card {
    width: 300px;
    height: 200px;
  }
}
body .shop-by-style .main .scroll .card-image {
  position: relative;
  display: block;
  width: 100%;
  height: inherit;
}
body .shop-by-style .main .scroll .card-image img.responsive {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .shop-by-style .main .scroll .card-inner {
  width: 100%;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  text-align: center;
  z-index: 99;
  font-size: 36px;
  /* line-height: 44px; */
  color: #000000;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body .arrivals .arrivals-box {
  display: flex;
  padding: 0 30px;
}
@media screen and (max-width: 992px) {
  body .arrivals .arrivals-box {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
body .arrivals .arrivals-box .box {
  width: 23%;
  margin: 0 12px;
}
@media screen and (max-width: 992px) {
  body .arrivals .arrivals-box .box {
    width: 40%;
    margin: 30px;
    float: left;
    display: block;
  }
}
@media screen and (max-width: 992px) and (max-width: 767px) {
  body .arrivals .arrivals-box .box {
    width: 100%;
    margin: 0 auto 20px;
  }
}
body .arrivals .arrivals-box .box img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
body .arrivals .arrivals-box .box .information {
  background: #ECEEEF;
  margin: -4px 0;
  padding: 20px 20px 12px 20px;
}
body .arrivals .arrivals-box .box .information p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 16px;
  color: #000000;
}
body .arrivals .arrivals-box .box .information h6 {
  font-size: 24px;
  font-weight: 500;
}
body .arrivals h1 {
  text-align: center;
  margin: 80px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}
body .arrivals button {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding: 19px 62px;
  color: #3B525B;
  border: 2px solid #EA8A7F;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 80px auto;
  background: transparent;
  display: block;
}
body .reviews {
  background: #3B525B;
  padding: 70px 125px;
}
@media screen and (max-width: 767px) {
  body .reviews {
    padding: 30px;
  }
}
body .reviews h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 59px;
  color: #FFFFFF;
}
body .reviews .reviews-block {
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  body .reviews .reviews-block {
    display: block;
  }
}
body .reviews .reviews-block svg.arrow {
  position: absolute;
  right: -73px;
}
@media screen and (max-width: 767px) {
  body .reviews .reviews-block svg.arrow {
    position: unset;
    transform: rotate(90deg);
    margin: 20px auto;
    display: block;
  }
}
body .reviews .reviews-block .review1 {
  width: 53%;
  margin: 0 12px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 26px 36px;
  height: 300px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  body .reviews .reviews-block .review1 {
    width: unset;
    height: 250px;
  }
}
@media screen and (max-width: 1200px) and (max-width: 767px) {
  body .reviews .reviews-block .review1 {
    height: auto;
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  body .reviews .reviews-block .review1.review2 {
    display: none;
  }
}
body .reviews .reviews-block .review1 .img-box {
  width: 25%;
}
@media screen and (max-width: 767px) {
  body .reviews .reviews-block .review1 .img-box {
    margin: auto;
    text-align: center;
    width: unset;
  }
}
body .reviews .reviews-block .review1 .img-box p.name {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #EA8A7F;
  margin-top: 22px;
}
body .reviews .reviews-block .review1 .review-text {
  width: 75%;
  position: relative;
}
@media screen and (max-width: 767px) {
  body .reviews .reviews-block .review1 .review-text {
    width: 100%;
    padding: 0 0 20px;
  }
}
body .reviews .reviews-block .review1 .review-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-left: 40px;
}
@media screen and (max-width: 1200px) {
  body .reviews .reviews-block .review1 .review-text p {
    font-size: 13px;
  }
}
body .reviews .reviews-block .review1 .review-text p a {
  text-decoration: none;
  color: #EA8A7F;
  font-size: 14px;
}
body .reviews .reviews-block .review1 .review-text svg:last-child {
  position: absolute;
  right: 0;
}
body .sales .arrivals-box {
  display: flex;
  padding: 0 30px;
}
@media screen and (max-width: 992px) {
  body .sales .arrivals-box {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
body .sales .arrivals-box .box {
  width: 23%;
  margin: 0 12px;
  position: relative;
}
@media screen and (max-width: 992px) {
  body .sales .arrivals-box .box {
    width: 40%;
    margin: 30px;
    float: left;
    display: block;
  }
}
@media screen and (max-width: 992px) and (max-width: 767px) {
  body .sales .arrivals-box .box {
    width: 100%;
    margin: 0 auto 20px;
  }
}
body .sales .arrivals-box .box img.main-img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
body .sales .arrivals-box .box img.discount {
  position: absolute;
  top: 10px;
  right: 10px;
}
body .sales .arrivals-box .box .information {
  background: #ECEEEF;
  margin: -4px 0;
  padding: 20px 20px 12px 20px;
}
body .sales .arrivals-box .box .information p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 16px;
  color: #000000;
}
body .sales .arrivals-box .box .information .sale-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .sales .arrivals-box .box .information .sale-price h6:first-child {
  color: rgba(0, 0, 0, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}
body .sales .arrivals-box .box .information .sale-price h6:first-child .line1 {
  width: 100%;
  height: 2px;
  background: black;
  transform: rotate(10deg);
  position: relative;
  top: 15px;
}
body .sales .arrivals-box .box .information .sale-price h6:first-child .line2 {
  width: 100%;
  height: 2px;
  background: black;
  transform: rotate(-10deg);
  position: relative;
  top: -15px;
}
body .sales .arrivals-box .box .information .sale-price h6:last-child {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #EA8A7F;
}
body .sales h1 {
  text-align: center;
  margin: 80px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}
body .sales button {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding: 19px 62px;
  color: #3B525B;
  border: 2px solid #EA8A7F;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 80px auto;
  background: transparent;
  display: block;
}
body footer {
  background: #3B525B;
  padding: 79px 149px 29px;
}
@media screen and (max-width: 992px) {
  body footer {
    padding: 30px;
  }
}
body footer .footer-information {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  body footer .footer-information {
    display: block;
  }
}
body footer .footer-information .information-block {
  display: flex;
  width: 50%;
}
@media screen and (max-width: 992px) {
  body footer .footer-information .information-block {
    display: flex;
    width: unset;
    justify-content: space-between;
  }
}
@media screen and (max-width: 992px) and (max-width: 767px) {
  body footer .footer-information .information-block {
    display: block;
    text-align: center;
    width: unset;
  }
}
body footer .footer-information .information-block ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media screen and (max-width: 992px) {
  body footer .footer-information .information-block ul {
    margin-right: unset;
    width: unset;
  }
}
body footer .footer-information .information-block ul:not(:last-child) {
  margin-right: 25px;
  width: 30%;
}
@media screen and (max-width: 767px) {
  body footer .footer-information .information-block ul:not(:last-child) {
    margin-bottom: 60px;
    width: unset;
  }
}
body footer .footer-information .information-block ul:not(:last-child) li:not(:last-child) {
  margin-bottom: 15px;
}
body footer .footer-information .information-block ul li h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
body footer .footer-information .information-block ul li p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}
body footer .footer-information .newsletter {
  width: 30%;
}
@media screen and (max-width: 992px) {
  body footer .footer-information .newsletter {
    width: 50%;
    margin: 20px auto;
  }
}
@media screen and (max-width: 992px) and (max-width: 767px) {
  body footer .footer-information .newsletter {
    width: unset;
    margin: 60px auto;
  }
}
body footer .footer-information .newsletter h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
body footer .footer-information .newsletter p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 7px;
  color: #FFFFFF;
}
body footer .footer-information .newsletter input {
  background: #3B525B;
  border: 1px solid #ECEEEF;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 13px 17px;
  margin-top: 14px;
  width: 100%;
}
body footer .footer-information .newsletter input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ECEEEF;
}
body footer .footer-information .newsletter button {
  background: #EA8A7F;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding: 13px 113px;
  width: 100%;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  body footer .footer-information .newsletter button {
    padding: 13px;
  }
}